{% extends 'base.html' %} 

{% block title %}
Destory Account
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
        <h1 class="h3 mb-3 font-weight-normal text-center">
            Destory Account
        </h1>
        <form method="POST" class="form-register" style="color: black">            
        {{ form.hidden_tag() }}
        {{ form.password.label() }} 
        {{ form.password(class="form-control",placeholder="Enter Password") }}
        <br/>
        {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
  </div>
</div>
{% endblock %}
