{% extends 'base.html' %}

{% block title %}
Add and edit transaction
{% endblock title %}

{% block content %}

<h1 style="text-align: center;">Add a new event</h1>

<br>

<div class="container">
    <div class="row justify-content-center">
        <form method="POST" style="color: black">
            {{ form.hidden_tag() }}
            {{ form.eventName.label() }}
            {{ form.eventName(class="form-control enlarged-input",placeholder="Event name") }}
            <br>
            {{ form.linkedTrip.label() }}
            {{ form.linkedTrip(id="tripNameInput", class="form-control enlarged-input", placeholder="Trip Name", readonly="readonly") }}
            <br>
            {{ form.linkedUser.label() }}
            {{ form.linkedUser(class="form-control enlarged-input",placeholder="ID of each linked users, separated with ','") }}



            <br>
            {{ form.description.label() }}
            {{ form.description(class="form-control enlarged-input",placeholder="Description") }}
            <br>
            {{ form.startTime.label() }}
            {{ form.startTime(class="form-control enlarged-input",placeholder="YYYY-MM-DD HH:MM") }}
            <br>
            {{ form.endTime.label() }}
            {{ form.endTime(class="form-control enlarged-input",placeholder="YYYY-MM-DD HH:MM") }}

            <br>
            {{ form.options.label() }}
            {{ form.options(class="form-control enlarged-input",placeholder="YYYY-MM-DD HH:MM") }}

            

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox1">
                <label class="form-check-label" for="checkbox1">
                  Checkbox 1
                </label>
              </div>
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox2">
                <label class="form-check-label" for="checkbox2">
                  Checkbox 2
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox2">
                <label class="form-check-label" for="checkbox2">
                  Checkbox 2
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkbox2">
                <label class="form-check-label" for="checkbox2">
                  Checkbox 2
                </label>
              </div>

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
            <br>
            <br>
        </form>
     <div>
<div>

<script>
    var tripName = "{{ trip.name }}";
    var inputBox = document.getElementById('tripNameInput');
    inputBox.value = tripName;
    inputBox.placeholder = tripName;
</script>
{% endblock %}