{% extends 'base.html' %}

{% block title %}
Add and edit transaction
{% endblock title %}

{% block content %}
<!-- include internal csss and js for selection -->
<link rel="stylesheet" href="/static/css/selection.css">
<script src="{{ url_for('static', filename='js/selection.js') }}"></script>


<h1 style="text-align: center;">Add a new transaction</h1>

<br>

<div class="container">
    <div class="row justify-content-center">
        <form method="POST" style="color: black">
            {{ form.hidden_tag() }}
            {{ form.transactionName.label() }}
            {{ form.transactionName(class="form-control enlarged-input",placeholder="Transaction name") }}
            <br>
            {{ form.linkedTrip.label() }}
            {{ form.linkedTrip(id="tripNameInput", class="form-control enlarged-input", placeholder="Trip Name", readonly="readonly") }}
            <br>
            <label>
                <input type="checkbox" id="linkedEventCheckbox" onchange="toggleLinkedEventInput()" > Linked to an event
            </label>
            <br>
            <label for="linkedEventInput" id="forLinkedEventInput" style="display: none;">Linked Event:</label>
            <select class="form-control" id="linkedEventInput" name="linkedEvent" style="display: none;">
                <option value="" selected>Event name (start time)</option>
                {% for eventName in eventNames %}
                    <option>{{ eventName }}</option>
                {% endfor %}
            </select>
            <br>
            {{ form.amount.label() }}
            {{ form.amount(class="form-control enlarged-input",placeholder="Total amount") }}
            <br>
            {{ form.currency.label() }}
            {{ form.currency(class="form-control enlarged-input",placeholder="Currency") }}
            <br>

            <div>
              <label for="sel1">Paid trippers</label>
              <br>
              <select class="form-control chosen-select" id="sel1" name="paidUserNames" multiple data-placeholder="Select the paid trippers">
                  <option value=""></option>
                  {% for userName in tripUserNames %}
                    <option>{{ userName }}</option>
                  {% endfor %}
              </select>
            </div>
            <br>

            <div>
              <label for="sel2">Received trippers</label>
              <br>
              <select class="form-control chosen-select" id="sel2" name="receivedUserNames" multiple data-placeholder="Select the received trippers">
                  <option value=""></option>
                  {% for userName in tripUserNames %}
                    <option>{{ userName }}</option>
                  {% endfor %}
              </select>
            </div>
            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="checkbox" name="debtSettlement" value="1" onclick="toggleSelect()" value="debtSettlement"> Debt Settlement
            </label>
            <br>
            <label for="sel3">Category:</label>
            <select class="form-control" id="sel3" name="category">
                <option value="" selected>Choose a category</option>
                <option>Accommodation</option>
                <option>Food and Drinks</option>
                <option>Groceries</option>
                <option>Tickets</option>
                <option>Transportation</option>
                <option>Others</option>
            </select>
            <br>
            {{ form.transDateTime.label() }}
            {{ form.transDateTime(class="form-control enlarged-input",placeholder="YYYY-MM-DD HH:MM") }}
            <br>
            {{ form.submit(class="enlarged-input btn btn-lg btn-block btn-primary")}}
            <br>
            <br>
        </form>
    <div>
<div>

<script>
    var tripName = "{{ tripName }}";
    var inputBox = document.getElementById('tripNameInput');
    inputBox.value = tripName;
    inputBox.placeholder = tripName;
</script>

<script>
    function toggleSelect() {
        var checkbox = document.getElementById("checkbox");
        var select = document.getElementById("sel3");

        if (checkbox.checked) {
            select.disabled = true;
            select.value = "";
        } else {
            select.disabled = false;
        }
    }

    function toggleLinkedEventInput() {
        var checkbox = document.getElementById("linkedEventCheckbox");
        var forInput = document.getElementById("forLinkedEventInput");
        var input = document.getElementById("linkedEventInput");

        if (checkbox.checked) {
            forInput.style.display = "block";
            input.style.display = "block";
        } else {
            forInput.style.display = "none";
            input.style.display = "none";
            input.value = "";
        }
    }
</script>
{% endblock %}