{% extends 'base.html' %}

{% block title %}
One Trip
{% endblock title %}

{% block content %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta3/css/bootstrap.min.css"> -->

<style>
    .description-container {
      margin-left: 14px;
      padding-top: 10px;
    }
</style>
<style>
  .hidden-button {
    display: none;
  }

</style>

<style>
  .analysis-button {
    display: none;
    position: fixed;
    top: 79px;
    right: 70px;
    padding: 1rem;
    z-index: 9999;
  }

  .analysis-button button {
    font-size: 16px;
  }

  #floatingButton2 {
    position: relative;
    z-index: 9999;
  }
</style>

<style>
  .weather-button {
    position: absolute;
    right: 70px;
  }
</style>

<div style="position: fixed; top: 65px; right: 0; padding: 2rem;">
  <button id="floatingButton2" class="btn bi-list"></button>
</div>

<div class="analysis-button" id="analysisButton">
  <form method="GET" action="{{ url_for('analysis') }}">
    <input type="hidden" name="tripID" value="{{ trip_attributes['ID'] }}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Expense Analysis</button>
  </form>
</div>

<div class="container">
  <div class="container text-center">
    <!-- <div class="row justify-content-center"> -->
      <div class="container text-center">
        <h2>{{ trip_attributes['name'] }}</h2>
      </div>
      <!-- <div class="col-4" style="text-align: right;">
        <h5>ID: {{ trip_attributes['ID'] }}</h5>
      </div> -->
    <!-- </div> -->
    
    <div class="row justify-content-center" style="padding-top: 15px;">
      <div class="col-6" style="text-align: left;">
        <h4>Location: <span class="location-box">{{ trip_attributes['location'] }}</h4>
      </div>
      <div class="col-6" style="text-align: right;">
        <h4>{{ trip_attributes['startDate'] }} to {{ trip_attributes['endDate'] }}</h4>
      </div>
    </div>
  </div>

  <div class="description-container" style="text-align: left;">
    <h4> Description: </h4>
    <p>{{ trip_attributes['tripDescription'] }}</p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <br/>
      <br/>
      <br/>
      <iframe
        width="500"
        height="500"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDpuP065vE8YOy1EVvwZdC2C3d0ugrLntY&q={{ trip_attributes['location'] }}">
      </iframe>
    </div>

    <div class="col-sm-6">

      <div class="d-flex justify-content-center">
        <table class="table custom-table table-light text-center">
          <thead>
              <tr>
                  <th colspan="6" class="text-center">Weather in {{ trip_attributes['location'] }} in the Coming Five Days</th>
              </tr>
              <tr>
                  <th>Date</th>
                  {% for key, value in weather.items() %}
                      <th>{{ key }}</th>
                  {% endfor %}
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Temp (°C)</td>
                  {% for _, value in weather.items() %}
                      <td>{{ value["Temperature"] }}</td>
                  {% endfor %}
              </tr>
              <tr>
                  <td>Weather</td>
                  {% for _, value in weather.items() %}
                      <td>{{ value["Weather"] }}</td>
                  {% endfor %}
              </tr>
          </tbody>
        </table>
      </div>

      <div style="text-align: center;">
        <br/>
        <img src="data:image/png;base64,{{ plot_url }}" alt="Temperature Plot" style="max-width: 500px; height: auto;">
        <br/>
      </div>
      <div class="d-flex justify-content-end">
        <!-- Button to trigger the modal -->
        <button type="button" class="btn btn-primary btn-sm weather-button" data-toggle="modal" data-target="#myModal">
          More on Weather in {{ trip_attributes['location'] }}
        </button>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Weather Conditions in {{ trip_attributes['location'] }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table my-5 custom-table table-light text-center">
              <thead>
                  <tr>
                      <th>Date</th>
                      {% for key, value in weather.items() %}
                          <th>{{ key }}</th>
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Temp (°C)</td>
                      {% for _, value in weather.items() %}
                          <td>{{ value["Temperature"] }}</td>
                      {% endfor %}
                  </tr>
                  <tr>
                      <td>Feels like (°C)</td>
                      {% for _, value in weather.items() %}
                          <td>{{ value["Feel Like"] }}</td>
                      {% endfor %}
                  </tr>
                  <tr>
                      <td>Weather</td>
                      {% for _, value in weather.items() %}
                          <td>{{ value["Weather"] }}</td>
                      {% endfor %}
                  </tr>
                  <tr>
                      <td>Humidity</td>
                      {% for _, value in weather.items() %}
                          <td>{{ value["Humidity"] }}%</td>
                      {% endfor %}
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div> 
</div>

<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="d-flex justify-content-center">
        <img src="data:image/png;base64,{{ user_debt_graph}}" alt="Temperature Plot" style="max-width: 500px; height: auto;">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="d-flex justify-content-center">
        <table class="table custom-table table-light" style="width: 50%;">
              <thead>
                  <tr>
                      <th colspan="5" class="text-center enlarged-header">User Net</th>
                  </tr>
                  <tr>
                      <th class="text-center">User Name</th>
                      <th class="text-center">Net Amount</th>
                      <th class="text-center">Debt Settlement</th>
                  </tr>
              </thead>
              <tbody>
                  {% for user in users_net %}
                  <tr>
                      <td class="text-center">{{ user[0] }}</td>
                      <td class="text-center">{{ user[1] }}</td>
                      <td class="text-center">
                          {% if user[1] >= 0 %}
                              <i class="bi bi-check-circle-fill" style="color: green;"></i>
                          {% else %}
                          <button class="btn btn-link" data-toggle="modal" data-target="#myModal{{ loop.index }}">
                            <i class="bi bi-check-circle text-primary"></i>
                        </button>
                          {% endif %}
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>    
  </div>
  <br>
</div>

<!-- Bootstrap Modals for Debt Settlement -->
{% for user in users_net %}
<div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" aria-labelledby="myModalLabel{{ loop.index }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="debtSettlment">Debt Settlement</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
              <ul class="list-group">
                  {% for positiveNetUser in positive_nets%}
                      <button type="button" class="list-group-item user-button" onclick="selectUser('{{positiveNetUser}}')">{{positiveNetUser}}</button>
                  {% endfor %}
              </ul>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <!-- use the method get instead -->
              <form method="GET" action="{{ url_for('analysis') }}">
                <input type="hidden" name="tripID" value="{{ trip_attributes['ID'] }}">
                <button type="submit" class="btn btn-primary btn-lg btn-block">OK</button>
              </form>
              <!-- <button type="button" class="btn btn-primary" onclick="redirectToEditEventTrans('Event')">OK</button> -->
          </div>
      </div>
  </div>
</div>
{% endfor %}




<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
<script>
    // JavaScript to prompt for recipient's name
    function showPrompt(username, index) {
        const recipient = window.prompt("Please enter the recipient's name:");
        if (recipient) {
            const modal = new bootstrap.Modal(document.getElementById('myModal' + index));
            const modalUser = document.getElementById('modal-user' + index);
            const modalValue = document.getElementById('modal-value' + index);
            const recipientContainer = document.getElementById('modal-recipient' + index);
            const recipientSpan = document.getElementById('recipient' + index);

            modalUser.textContent = username;
            modalValue.textContent = 'Recipient: ' + recipient;
            recipientSpan.textContent = recipient;
            recipientContainer.style.display = 'block';

            modal.show();
        }
    }
</script>

<div class="container">
  <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
          <h3 style="text-align: center">List of activities</h3>
      </div>
      <div class="col-sm-2">
          <form method="GET" action="{{ url_for('editEvent_page') }}">
              <input type="hidden" name="tripID" value="{{ trip_attributes['ID'] }}">
              <button type="submit" class="btn btn-primary btn-lg btn-block">+ Event</button>
          </form>
      </div>

      <div class="col-sm-2">
          <form method="GET" action="{{ url_for('editTransaction_page') }}">
              <input type="hidden" name="tripID" value="{{ trip_attributes['ID'] }}">
              <button type="submit" class="btn btn-primary btn-lg btn-block">+ Transaction</button>
          </form>
      </div>
  </div>
  <hr>
</div>

  {% for k, value in activities.items() %}
    <div class="container">
      <div class="row">
        
        <!-- {% if value['linkedEvent'] %}
        <div class="container" id="indented-block">
        {% else %}
        <div class="container">
        {% endif %} -->


        <div class="col-10">
            <h4 style="margin-bottom: 3%;  {% if value['linkedEvent'] %}text-indent: 10%;{% endif %}">
              {% if value['debtSettlement'] %} Debt Settlement
              {% else %}
                {{value['type']}} 
              {% endif %} - {{value['name']}} {% if value['category'] and value['category'] != "Uncategorized"%} <span class="small">({{value['category']}})</span> {% endif %}
          </h4>
          </div>

          <div class ="col text-right">
            <button id="Delete{{ k }}" class="btn btn-danger hidden-button" onclick="confirmDeleteActivity('{{ k }}')">Delete</button>
            <button id="toggleButton{{ k }}" class="btn bi-list" onclick="toggleDeleteButton({{ k }})"></button>
          </div>

        </div>
        <div class="row">
          
          <div class="col-10">
              <!-- if is debtSettlement -->
              <p style="margin: 0; {% if value['linkedEvent'] %}text-indent: 10%;{% endif %}">
                {% if value['debtSettlement'] %}
                  <!-- show all paying user -->
                  {% for i in value['paid'] %}
                      <span class="user-id">{{ i }}</span><!-- delete the last comma -->{% if not loop.last %},{% endif %}
                  {% endfor %}
                  
                  <!-- show all user being paid -->
                  paid 
                  {% for i in value['received'] %}
                      <span class="user-id">{{ i }}</span><!-- delete the last comma -->{% if not loop.last %},{% endif %}
                  {% endfor %}
              
                  {% else %} 
                      <!-- User  -->
                      {% if value['type'] == 'Event' %} 
                          {% for i in value['linkedUser']%} 
                              <span class="user-id">{{ i }}</span>{% if not loop.last %},{% endif %} 
                          {% endfor %} 
                          
                  {% else %}
                          
                          {% for i in value['paid'] %} 
                              <span class="user-id">{{ i }}</span>{% if not loop.last%},{% endif %} 
                          {% endfor %} 
                          paid for 
                          {% for i in value['received']%} 
                              <span class="user-id">{{ i }}</span>{% if not loop.last %},{% endif %} 
                          {% endfor %} 
                          
                  {% endif %} 
                      
                {% endif %}
                </p>

                <p class="cool-date" style="{% if value['linkedEvent'] %}text-indent: 10%;{% endif %}"">
                  {{value['startTime']}} {% if value['endTime'] %} to {{value['endTime']}}
                  {% endif %}
                </p>

                {% if value['description'] %}

                  <p>
                    {{value['description']}}
                  </p>
                  {% endif %}

              </div>

            <div class ="col" style="display: flex; justify-content: center;">
            <br>
            {% if value['totalAmount'] %}
              <div style="margin-top: 10%;">
                <h4 style="margin: 0; display: flex; justify-content: center;">{{value['totalAmount']}} {{value['currency']}}</h4>
              </div>
            {% endif %}

          </div>
        </div>


        </div>
      </div>

      <hr class="container">
    {% endfor %}
    <br>
    <div class="container">
        <button class="btn btn-outline-danger btn-lg btn-block" onclick="confirmDeleteTrip({{ trip_attributes['ID'] }})">Delete trip</button>
    </div>
    <br>
</div>

<script>
  var floatingButton = document.getElementById("floatingButton2");
  var analysisButton = document.getElementById("analysisButton");

  floatingButton.addEventListener("mouseenter", function () {
    analysisButton.style.display = "block";
  });

  analysisButton.addEventListener("mouseenter", function () {
    analysisButton.style.display = "block";
  });

  analysisButton.addEventListener("mouseleave", function () {
    analysisButton.style.display = "none";
  });
</script>

<script>
  function toggleDeleteButton(index) {
    var deleteButton = document.getElementById("Delete" + index);
    if (deleteButton.classList.contains("hidden-button")) {
      deleteButton.classList.remove("hidden-button");
    } else {
      deleteButton.classList.add("hidden-button");
    }
  }
</script>

<script>
    function confirmDeleteActivity(activityID) {
      var type = activityID[0]
      console.log("test -- " +type)
      switch (type) {
        case "3":
          var use_url = '/delete/event/'
          var activitie_type = 'event'
          break
        case "4":
          var use_url = '/delete/transaction/'
          var activitie_type = 'transaction'
          break
      }
      var result = window.confirm("Are you sure to delete this "+activitie_type+'?');
      if (result) {
        // User clicked "OK"
        $.ajax({
          url: use_url + activityID,
          type: 'DELETE',
          success: function(response) {
            // Handle the success response from the server
            console.log(response); // Log the response or update the UI accordingly
            location.reload();
          },
          error: function(xhr, status, error) {
            // Handle the error response from the server
            console.log(error); // Log the error or perform any other action as needed
          }
        });
      } else {
        // User clicked "Cancel" or closed the dialog
        // Do nothing or perform any other action as needed
      }
    }
  </script>


<script>
    function confirmDeleteTrip(tripID) {
      var result = window.confirm("Are you sure to delete this trip?");
      if (result) {
        // User clicked "OK"
        $.ajax({
          url: '/delete/trip/' + tripID,
          type: 'DELETE',
          success: function(response) {
            // Handle the success response from the server
            console.log(response); // Log the response or update the UI accordingly
            window.location.href = '/AllTrips';
          },
          error: function(xhr, status, error) {
            // Handle the error response from the server
            console.log(error); // Log the error or perform any other action as needed
          }
        });
      } else {
        pass// User clicked "Cancel" or closed the dialog
        // Do nothing or perform any other action as needed
      }
    }
  </script>



<script>
  //// debt settlement

  // Handle when a user name is clicked in the modal for debt settlement
  function selectUser(username) {
            // Remove 'active' class from all user name buttons
            $('.list-group-item.user-button').removeClass('active');
        
            // Add 'active' class to the clicked button
            $(event.target).addClass('active');
  }

  // // Handle when the OK button is clicked in the modal for debt settlement
  // // redirect to that trip page
  // function redirectToTipPage(type) {
  //     var selectedTripName = $('.list-group-item.active').text();
  //     console.log(selectedTripName);
  //     $.ajax({
  //         url: '/edit_eventtrans',
  //         type: 'POST',
  //         data: { tripName: selectedTripName },
  //         success: function (response) {
  //             console.log(response.tripID);
  //             if (type == 'Event') {
  //                 window.location.href = '/editEvent?tripID=' + encodeURIComponent(response.tripID);
  //             }
  //             else {
  //                 window.location.href = '/editTransaction?tripID=' + encodeURIComponent(response.tripID);
  //             }
  //         },
  //         error: function (error) {
  //             console.log(error);
  //             window.location.href = '/AllTrip';
  //         },
  //     });
  // }

</script>
{% endblock %}
