<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <!-- ✅ load jQuery ✅ -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <button id="btn">Make request</button>

    <script>
    $(document).ready(function () {
        $('#btn').click(function () {
          $.ajax({
            url: 'https://randomuser.me/api/',
            dataType: 'json',
            success: function (data) {
              console.log(data);
            },
          });
        });
      });
      </script>



  </body>
</html>
